<app-navbar></app-navbar>
<app-searchbar></app-searchbar>
 <!-- <div class="container">
  <div class="breadcrumb-wrapper">
    <ol>
      <li>
        <a routerLinkActive="list-item-active" routerLink="/product-list" title="Home">Home</a>
      </li>
      <li>
        <p><a routerLinkActive="list-item-active" routerLink="/register" title="Register">Create an Account</a></p>
      </li>
    </ol>
  </div>
</div>  -->

<router-outlet></router-outlet>
<app-home></app-home>
<app-footer></app-footer>
<!-- <app-user-page></app-user-page> -->