.btn{
    margin-right: 20px;
    
}
.site-header .site-header-wrapper {
    padding: 18px 0;
  }
  .container {
    max-width: 1240px;
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
  }
  
  @media (max-width: 1199px) {
    .container {
      padding: 0 25px;
    }
  }
  .site-header .site-header-wrapper .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media (max-width: 479px) {
    .site-header .site-header-wrapper .header-wrapper {
      position: relative;
      padding-top: 30px;
    }
  }
  @media (max-width: 991px) {
    .site-header .site-header-wrapper .header-wrapper .logo-wrapper {
      flex: 0 0 180px;
      max-width: 180px;
    }
  }
  @media (max-width: 767px) {
    .site-header .site-header-wrapper .header-wrapper .logo-wrapper {
      flex: 0 0 160px;
      max-width: 160px;
    }
  }
  @media (max-width: 575px) {
    .site-header .site-header-wrapper .header-wrapper .logo-wrapper {
      flex: 0 0 140px;
      max-width: 140px;
    }
  }
  @media (max-width: 479px) {
    .site-header .site-header-wrapper .header-wrapper .logo-wrapper {
      flex: 0 0 120px;
      max-width: 120px;
    }
    .site-header
      .site-header-wrapper
      .header-wrapper
      .nav-wrapper
      .top-right-bar
      .cart-country-wrap
      li.cart-link
      a {
      border: none;
      padding: 0;
      font-size: 0;
    }
    .site-header
      .site-header-wrapper
      .header-wrapper
      .nav-wrapper
      ul.top-nav-bar {
      top: -4px;
      left: 50%;
      width: 100%;
      position: absolute;
      transform: translateX(-50%);
      justify-content: center;
    }
  }
  @media (max-width: 374px) {
    .site-header .site-header-wrapper .header-wrapper .logo-wrapper {
      flex: 0 0 105px;
      max-width: 105px;
    }
    .site-header .site-header-wrapper .header-wrapper .logo-wrapper a {
      min-width: 140px;
    }
  }
  .site-header .site-header-wrapper .header-wrapper .logo-wrapper {
    flex: 0 0 180px;
    max-width: 180px;
  }
  .site-header .site-header-wrapper .header-wrapper .logo-wrapper a {
    display: block;
  }
  
  .site-header .site-header-wrapper .header-wrapper .nav-wrapper {
    flex: 1;
  }
  .site-header .site-header-wrapper .header-wrapper .nav-wrapper .top-right-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .site-header .site-header-wrapper .header-wrapper .nav-wrapper .top-right-bar {
    margin-bottom: 0;
  }
  .site-header .site-header-wrapper .header-wrapper .nav-wrapper ul {
    display: flex;
    padding: 0;
    align-items: center;
  }
  @media (max-width: 479px) {
    .site-header
      .site-header-wrapper
      .header-wrapper
      .nav-wrapper
      ul.top-nav-bar {
      top: -4px;
      left: 50%;
      width: 100%;
      position: absolute;
      transform: translateX(-50%);
      justify-content: center;
    }
  }
  .site-header
    .site-header-wrapper
    .header-wrapper
    .nav-wrapper
    ul.top-nav-bar
    li {
    position: relative;
  }
  .site-header .site-header-wrapper .header-wrapper .nav-wrapper ul li {
    width: auto;
    padding: 0;
  }
  .site-header
    .site-header-wrapper
    .header-wrapper
    .nav-wrapper
    ul.top-nav-bar
    li
    + li {
    padding-left: 15px;
  }
  .site-header .site-header-wrapper .header-wrapper .nav-wrapper ul li + li {
    margin-left: 17px;
  }
  .site-header
    .site-header-wrapper
    .header-wrapper
    .nav-wrapper
    ul.top-nav-bar
    li
    a {
    color: #333;
    font-size: 16px;
  }
  a {
    text-decoration: none;
    transition: all 0.3s;
  }
  .site-header
    .site-header-wrapper
    .header-wrapper
    .nav-wrapper
    ul.top-nav-bar
    li
    a {
    color: #333;
    font-size: 16px;
  }
  a {
    text-decoration: none;
    transition: all 0.3s;
  }
  .site-header
    .site-header-wrapper
    .header-wrapper
    .nav-wrapper
    ul.top-nav-bar
    li
    + li::before {
    top: 2px;
    left: 0;
    height: 17px;
    content: "";
    position: absolute;
    border-left: 1px solid #c6c6c6;
  }
  .site-header
    .site-header-wrapper
    .header-wrapper
    .nav-wrapper
    .top-right-bar
    .cart-country-wrap {
    margin: 0 0 0 15px;
  }
  ul {
    list-style: none;
    margin-bottom: auto;
  }
  .site-header .site-header-wrapper .header-wrapper .nav-wrapper ul {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: flex-end;
  }
  .site-header
    .site-header-wrapper
    .header-wrapper
    .nav-wrapper
    .top-right-bar
    .cart-country-wrap
    li.cart-link {
    color: #333;
    font-size: 15px;
  }
  .site-header .site-header-wrapper .header-wrapper .nav-wrapper ul li {
    width: auto;
    padding: 0;
  }
  @media (max-width: 479px) {
    .site-header
      .site-header-wrapper
      .header-wrapper
      .nav-wrapper
      .top-right-bar
      .cart-country-wrap
      li.cart-link
      a {
      border: none;
      padding: 0;
      font-size: 0;
    }
  }
  .site-header
    .site-header-wrapper
    .header-wrapper
    .nav-wrapper
    .top-right-bar
    .cart-country-wrap
    li.cart-link
    a {
    color: #333;
    display: inline-block;
    position: relative;
  }
  a {
    text-decoration: none;
    transition: all 0.3s;
  }
  img {
    vertical-align: middle;
    display: inline-block;
    height: auto;
    max-width: 100%;
    border: 0;
    -ms-interpolation-mode: bicubic;
  }
  .site-header
    .site-header-wrapper
    .header-wrapper
    .nav-wrapper
    .top-right-bar
    .cart-country-wrap
    li.cart-link
    span {
    color: #fff;
    height: 20px;
    width: 20px;
    position: absolute;
    right: -10px;
    font-size: 12px;
    line-height: 20px;
    background-color: #ff0000;
    border-radius: 50%;
    top: -10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  