<div class="create-account-page-wrapper">
    <div class="container">
        <div class="create-account-row">
            <form>
                <div class="form-block">
                    <div class="personal-information">
                        <div class="personal-information-header">
                            <h2>Edit-user</h2>
                            
                        </div>
                        <div class="form-row-wrapper">
                            <div class="form-col">
                                <div class="form-group">
                                    <label for="first-name" id="first-name-label">First Name *</label>
                                    <input type="text" class="form-control" id="first-name" />
                                    <span class="error-msg">Invalid</span>
                                </div>
                            </div>
                            <div class="form-col">
                                <div class="form-group">
                                    <label for="last-name" id="last-name-label">Last Name *</label>
                                    <input type="text" class="form-control" id="last-name" />
                                    <span class="error-msg">Invalid</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="login-information">
                        <div class="form-row-wrapper">
                            <div class="form-col">
                                <div class="form-group">
                                    <label for="password" id="password-label">Password *</label>
                                    <input type="password" class="form-control" id="password" />
                                    <span class="error-msg">Invalid</span>
                                </div>
                            </div>
                            <div class="form-col">
                                <div class="form-group">
                                    <label for="confirm-password" id="confirm-password-label">Roles</label>
                                    <input type="password" class="form-control" id="confirm-password" />
                                
                                </div>
                            </div>
                        </div>
                        <div class="btn-wrapper">
                            <td class="btn">
                                <button type="button" class="btn btn-outline-success">Edit</button>
                                <button type="button" class="btn btn-outline-danger">Delete</button>
                            </td>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>