
<header class="site-header" id="header">
    <div class="header-search-wrapper">
      <div class="container">
        <div class="header-search-outer">
          <div class="header-search-inner">
            <div class="text-wrapper">
              <div class="form-group-wrapper">
                <div class="form-group">
                  <label style="display: none" for="search-text">Search</label>
                  <input
                    id="search-text"
                    name="text"
                    placeholder="What are you looking for..."
                    type="text"
                    class="form-control"
                    value=""
                  />
                </div>
              </div>
              <div class="product-listing">
                <p class="no-product">No product found</p>
                <p class="loading">Loading....</p>
                <ul class="related-product-list">
                  <li>
                    <div class="inner-block">
                      <div class="left-col">
                        <span class="title">Title 1</span
                        ><span class="category">Category</span>
                        <p>Description</p>
                      </div>
                      <div class="right-col">
                        <span class="price">1000</span><a href="#">Add to cart</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="inner-block">
                      <div class="left-col">
                        <span class="title">Title 1</span
                        ><span class="category">Category</span>
                        <p>Description</p>
                      </div>
                      <div class="right-col">
                        <span class="price">1000</span><a href="#">Add to cart</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="inner-block">
                      <div class="left-col">
                        <span class="title">Title 1</span
                        ><span class="category">Category</span>
                        <p>Description</p>
                      </div>
                      <div class="right-col">
                        <span class="price">1000</span><a href="#">Add to cart</a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="inner-block">
                      <div class="left-col">
                        <span class="title">Title 1</span
                        ><span class="category">Category</span>
                        <p>Description</p>
                      </div>
                      <div class="right-col">
                        <span class="price">1000</span><a href="#">Add to cart</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <button class="btn green-btn" type="submit">
              <em><img src="assets/search.svg" alt="search" /></em>Search
            </button>
            <button class="btn blue-btn" type="submit">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </header>
  
